@model Infnet.Pos.Tcc.Application.ViewModels.GrupoQuestaoViewModel

@{
    ViewData["Title"] = SharedLocalizer["{0} - {1}", "Grupo de Questão", "Detalhe"];
}

<h1>@ViewData["Title"]</h1>
<hr/>

<div>
    <hr/>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Codigo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Codigo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Descricao)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Descricao)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary">@SharedLocalizer["Editar"]</a>
    <a asp-action="Index" class="btn btn-secondary">@SharedLocalizer["Voltar"]</a>
</div>
